<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>List Present</title>
</head>
<body>
<h3>Present</h3>
<p>
    <a th:href="@{/presents/create}">
        Add new present
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <h3 th:text="${success}"></h3>
    </div>
</div>

<table id = "present">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Ship</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${presentList}">
        <td th:text="${row.code}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.ship}"></td>
        <td><img th:src="@{'/image/'+${row.getImg()}}" width="150" alt=""></td>
        <td><a th:href="@{/presents/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/presents/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/presents/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>