<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailPresent</title>
</head>
<body>
<h3>View Present</h3>
<p>
    <a th:href="@{/presents}">
        Back to present list
    </a>
</p>
<div id="detail">
    <div class="present-detail">
        <label>Code:</label>
        <label th:text="${present.code}"></label>
    </div>
    <div class="present-detail">
        <label>Name:</label>
        <label th:text="${present.name}"></label>
    </div>
    <div class="present-detail">
        <label>Price:</label>
        <label th:text="${present.price}"></label>
    </div>
    <div class="present-detail">
        <label>Ship:</label>
        <label th:text="${present.ship}"></label>
    </div>
    <div class="present-detail">
        <img th:src="@{'/image/'+${present.getImg()}}" width="150" alt="">
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>